DISCORD_TOKEN=
DISCORD_CLIENT_ID=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DISCORD_GUILD_ID=
ARTS_API_URL=https://ritualarts.xyz/api/arts
PFP_ASSETS_ROOT=./assets/characters
TEAM_DATA_PATH=./src/data/team.json
FACTS_DATA_PATH=./src/data/ritual_facts.json
QUIZ_DATA_PATH=./src/data/quiz_questions.json
WHAT_IS_RITUAL_IMAGE_PATH=./files by user/what is ritual/ritual-chain.svg
WEB_IDLE_VIDEO_PATH=./files by user/HI/IMG_9732.MP4
WEB_REACTION_VIDEO_PATH=./files by user/HI/REACTION.mp4
WEB_STATIC_DIR=./src/web/public
SIGGY_RPG_STATE_PATH=./storage/siggy_rpg_state.json
SIGGY_COMMON_IMAGE_PATH=./files by user/common/common.png
SIGGY_RARE_IMAGE_PATH=./files by user/Rare/rare.png
SIGGY_EPIC_IMAGE_PATH=./files by user/epic/epic.png
SIGGY_LEGENDARY_IMAGE_PATH=./files by user/legendary/legendary.png
SIGGY_FORBIDDEN_IMAGE_PATH=./files by user/forbidden/forbidden.png
DOCS_INDEX_PATH=./storage/ritual_docs.index.json
DOCS_SOURCES_PATH=./storage/ritual_docs.sources.json
DOCS_SEED_URLS_PATH=./src/data/docs_seed_urls.json
PREFIX_COMMAND_TOKEN=!
ENABLE_DOCS_CRON=false
DOCS_CRON_HOUR_UTC=3
HEALTHCHECK_PORT=8787
MEDIA_BASE_URL=
MEDIA_PUBLIC_BASE_URL=
